body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* body {
  font-family: 'Karla', sans-serif;
} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #1E516E;
  display: flex;
  flex-direction: row;
  font-family: 'Karla', sans-serif;
  color: #FFFFFF;
  padding: 1rem;
  font-size: 1rem;
}

.logo-div {
  align-self: center;
}

.navbar-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 3rem;
  padding: 0.3rem;
}

.profile-Photo-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}